.contact-form__content {
    display: flex;
    justify-content: center;
    /* 横方向に中央揃え */
    align-items: center;
    /* 縦方向に中央揃え */
    height: 100vh;
    /* ビューポートの高さを100%に設定 */
    text-align: center;
    /* テキストを中央揃え */
    flex-direction: column;
    /* 子要素を縦方向に並べる */
}

.btn-primary {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #82756A;
    color: #fff;
    cursor: pointer;
    text-decoration:none;
}